# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/prisma/migrations/

# Mobile
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# Backoffice
backoffice/node_modules/
backoffice/.next/
backoffice/.env

# General
.env
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Generated
*.g.dart
*.freezed.dart
backend/.env
.mcp.json
